In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import plotly
import warnings

warnings.filterwarnings('ignore')
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [9]:

df = pd.read_csv("/content/sample_data/rideshare_kaggle.csv")
df.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,name,price,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,short_summary,long_summary,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,icon,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,lyft_line,Shared,5.0,0.44,1.0,42.2148,-71.033,42.34,37.12,Mostly Cloudy,Rain throughout the day.,0.0000,0.0,0.68,8.66,9.17,1545015600,10.000,43.68,1544968800,34.19,1545048000,37.95,1544968800,27.39,1545044400,partly-cloudy-night,32.70,1021.98,57.0,0.72,0.0,10.000,303.8,1.544962e+09,1.544995e+09,0.30,0.1276,1.544980e+09,39.89,1.545012e+09,43.68,1.544969e+09,33.73,1.545012e+09,38.07,1.544958e+09
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,lyft_premier,Lux,11.0,0.44,1.0,42.2148,-71.033,43.58,37.35,Rain,"Rain until morning, starting again in the eve...",0.1299,1.0,0.94,11.98,11.98,1543291200,4.786,47.30,1543251600,42.10,1543298400,43.92,1543251600,36.20,1543291200,rain,41.83,1003.97,90.0,1.00,0.0,4.786,291.1,1.543233e+09,1.543267e+09,0.64,0.1300,1.543252e+09,40.49,1.543234e+09,47.30,1.543252e+09,36.20,1.543291e+09,43.92,1.543252e+09
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,lyft,Lyft,7.0,0.44,1.0,42.2148,-71.033,38.33,32.93,Clear,Light rain in the morning.,0.0000,0.0,0.75,7.33,7.33,1543334400,10.000,47.55,1543320000,33.10,1543402800,44.12,1543320000,29.11,1543392000,clear-night,31.10,992.28,240.0,0.03,0.0,10.000,315.7,1.543319e+09,1.543353e+09,0.68,0.1064,1.543338e+09,35.36,1.543378e+09,47.55,1.543320e+09,31.04,1.543378e+09,44.12,1.543320e+09
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,lyft_luxsuv,Lux Black XL,26.0,0.44,1.0,42.2148,-71.033,34.38,29.63,Clear,Partly cloudy throughout the day.,0.0000,0.0,0.73,5.28,5.28,1543514400,10.000,45.03,1543510800,28.90,1543579200,38.53,1543510800,26.20,1543575600,clear-night,26.64,1013.73,310.0,0.00,0.0,10.000,291.1,1.543492e+09,1.543526e+09,0.75,0.0000,1.543507e+09,34.67,1.543550e+09,45.03,1.543511e+09,30.30,1.543550e+09,38.53,1.543511e+09
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,lyft_plus,Lyft XL,9.0,0.44,1.0,42.2148,-71.033,37.44,30.88,Partly Cloudy,Mostly cloudy throughout the day.,0.0000,0.0,0.70,9.14,9.14,1543446000,10.000,42.18,1543420800,36.71,1543478400,35.75,1543420800,30.29,1543460400,partly-cloudy-night,28.61,998.36,303.0,0.44,0.0,10.000,347.7,1.543406e+09,1.543440e+09,0.72,0.0001,1.543421e+09,33.10,1.543403e+09,42.18,1.543421e+09,29.11,1.543392e+09,35.75,1.543421e+09

In [10]:
df1 = df.copy()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106773 entries, 0 to 106772
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           106773 non-null  object
 1   timestamp                    106773 non-null  float64
 2   hour                         106773 non-null  int64
 3   day                          106773 non-null  int64
 4   month                        106773 non-null  int64
 5   datetime                     106773 non-null  object
 6   timezone                     106773 non-null  object
 7   source                       106773 non-null  object
 8   destination                  106773 non-null  object
 9   cab_type                     106773 non-null  object
 10  product_id                   106773 non-null  object
 11  name                         106773 non-null  object
 12  price                        98314 non-null   float64
 13  distance                     106773 non-null  float64
 14  surge_multiplier             106773 non-null  float64
 15  latitude                     106773 non-null  float64
 16  longitude                    106773 non-null  float64
 17  temperature                  106773 non-null  float64
 18  apparentTemperature          106773 non-null  float64
 19  short_summary                106773 non-null  object
 20  long_summary                 106773 non-null  object
 21  precipIntensity              106773 non-null  float64
 22  precipProbability            106773 non-null  float64
 23  humidity                     106773 non-null  float64
 24  windSpeed                    106773 non-null  float64
 25  windGust                     106773 non-null  float64
 26  windGustTime                 106773 non-null  int64
 27  visibility                   106773 non-null  float64
 28  temperatureHigh              106773 non-null  float64
 29  temperatureHighTime          106773 non-null  int64
 30  temperatureLow               106773 non-null  float64
 31  temperatureLowTime           106773 non-null  int64
 32  apparentTemperatureHigh      106773 non-null  float64
 33  apparentTemperatureHighTime  106773 non-null  int64
 34  apparentTemperatureLow       106773 non-null  float64
 35  apparentTemperatureLowTime   106773 non-null  int64
 36  icon                         106773 non-null  object
 37  dewPoint                     106773 non-null  float64
 38  pressure                     106772 non-null  float64
 39  windBearing                  106772 non-null  float64
 40  cloudCover                   106772 non-null  float64
 41  uvIndex                      106772 non-null  float64
 42  visibility.1                 106772 non-null  float64
 43  ozone                        106772 non-null  float64
 44  sunriseTime                  106772 non-null  float64
 45  sunsetTime                   106772 non-null  float64
 46  moonPhase                    106772 non-null  float64
 47  precipIntensityMax           106772 non-null  float64
 48  uvIndexTime                  106772 non-null  float64
 49  temperatureMin               106772 non-null  float64
 50  temperatureMinTime           106772 non-null  float64
 51  temperatureMax               106772 non-null  float64
 52  temperatureMaxTime           106772 non-null  float64
 53  apparentTemperatureMin       106772 non-null  float64
 54  apparentTemperatureMinTime   106772 non-null  float64
 55  apparentTemperatureMax       106772 non-null  float64
 56  apparentTemperatureMaxTime   106772 non-null  float64
dtypes: float64(38), int64(8), object(11)
memory usage: 46.4+ MB

In [11]:
df1.duplicated().sum()

0

In [12]:
df1.isnull().sum()

id                                0
timestamp                         0
hour                              0
day                               0
month                             0
datetime                          0
timezone                          0
source                            0
destination                       0
cab_type                          0
product_id                        0
name                              0
price                          8459
distance                          0
surge_multiplier                  0
latitude                          0
longitude                         0
temperature                       0
apparentTemperature               0
short_summary                     0
long_summary                      0
precipIntensity                   0
precipProbability                 0
humidity                          0
windSpeed                         0
windGust                          0
windGustTime                      0
visibility                        0
temperatureHigh                   0
temperatureHighTime               0
temperatureLow                    0
temperatureLowTime                0
apparentTemperatureHigh           0
apparentTemperatureHighTime       0
apparentTemperatureLow            0
apparentTemperatureLowTime        0
icon                              0
dewPoint                          0
pressure                          1
windBearing                       1
cloudCover                        1
uvIndex                           1
visibility.1                      1
ozone                             1
sunriseTime                       1
sunsetTime                        1
moonPhase                         1
precipIntensityMax                1
uvIndexTime                       1
temperatureMin                    1
temperatureMinTime                1
temperatureMax                    1
temperatureMaxTime                1
apparentTemperatureMin            1
apparentTemperatureMinTime        1
apparentTemperatureMax            1
apparentTemperatureMaxTime        1
dtype: int64

In [13]:
df1.dtypes

id                              object
timestamp                      float64
hour                             int64
day                              int64
month                            int64
datetime                        object
timezone                        object
source                          object
destination                     object
cab_type                        object
product_id                      object
name                            object
price                          float64
distance                       float64
surge_multiplier               float64
latitude                       float64
longitude                      float64
temperature                    float64
apparentTemperature            float64
short_summary                   object
long_summary                    object
precipIntensity                float64
precipProbability              float64
humidity                       float64
windSpeed                      float64
windGust                       float64
windGustTime                     int64
visibility                     float64
temperatureHigh                float64
temperatureHighTime              int64
temperatureLow                 float64
temperatureLowTime               int64
apparentTemperatureHigh        float64
apparentTemperatureHighTime      int64
apparentTemperatureLow         float64
apparentTemperatureLowTime       int64
icon                            object
dewPoint                       float64
pressure                       float64
windBearing                    float64
cloudCover                     float64
uvIndex                        float64
visibility.1                   float64
ozone                          float64
sunriseTime                    float64
sunsetTime                     float64
moonPhase                      float64
precipIntensityMax             float64
uvIndexTime                    float64
temperatureMin                 float64
temperatureMinTime             float64
temperatureMax                 float64
temperatureMaxTime             float64
apparentTemperatureMin         float64
apparentTemperatureMinTime     float64
apparentTemperatureMax         float64
apparentTemperatureMaxTime     float64
dtype: object

In [15]:
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
df1['id']= label_encoder.fit_transform(df1['id'])
df1['datetime']= label_encoder.fit_transform(df1['datetime']) 
df1['timezone']= label_encoder.fit_transform(df1['timezone'])
df1['destination']= label_encoder.fit_transform(df1['destination']) 
df1['product_id']= label_encoder.fit_transform(df1['product_id'])
df1['short_summary']= label_encoder.fit_transform(df1['short_summary'])
df1['long_summary']= label_encoder.fit_transform(df1['long_summary'])

In [17]:
df1['name']= label_encoder.fit_transform(df1['name'])
for i, item in enumerate(label_encoder.classes_):
    print(item, "-->", i)

Black --> 0
Black SUV --> 1
Lux --> 2
Lux Black --> 3
Lux Black XL --> 4
Lyft --> 5
Lyft XL --> 6
Shared --> 7
Taxi --> 8
UberPool --> 9
UberX --> 10
UberXL --> 11
WAV --> 12

In [39]:
df1['source']= label_encoder.fit_transform(df1['source'])
for i, item in enumerate(label_encoder.classes_):
    print(item, "-->", i)

Back Bay --> 0
Beacon Hill --> 1
Boston University --> 2
Fenway --> 3
Financial District --> 4
Haymarket Square --> 5
North End --> 6
North Station --> 7
Northeastern University --> 8
South Station --> 9
Theatre District --> 10
West End --> 11

In [57]:
df1['icon']= label_encoder.fit_transform(df1['icon'])

for i, item in enumerate(label_encoder.classes_):
    print(item, "-->", i)

 clear-day  --> 0
 clear-night  --> 1
 cloudy  --> 2
 fog  --> 3
 partly-cloudy-day  --> 4
 partly-cloudy-night  --> 5
 rain  --> 6

In [71]:
df1['cab_type']= label_encoder.fit_transform(df1['cab_type'])

for i, item in enumerate(label_encoder.classes_):
    print(item, "-->", i)

Lyft --> 0
Uber --> 1

In [40]:
df1.dtypes

id                               int64
timestamp                      float64
hour                             int64
day                              int64
month                            int64
datetime                         int64
timezone                         int64
source                           int64
destination                      int64
cab_type                        object
product_id                       int64
name                             int64
price                            int64
distance                       float64
surge_multiplier               float64
latitude                       float64
longitude                      float64
temperature                    float64
apparentTemperature            float64
short_summary                    int64
long_summary                     int64
precipIntensity                float64
precipProbability              float64
humidity                       float64
windSpeed                      float64
windGust                       float64
windGustTime                     int64
visibility                     float64
temperatureHigh                float64
temperatureHighTime              int64
temperatureLow                 float64
temperatureLowTime               int64
apparentTemperatureHigh        float64
apparentTemperatureHighTime      int64
apparentTemperatureLow         float64
apparentTemperatureLowTime       int64
icon                            object
dewPoint                       float64
pressure                       float64
windBearing                    float64
cloudCover                     float64
uvIndex                        float64
visibility.1                   float64
ozone                          float64
sunriseTime                    float64
sunsetTime                     float64
moonPhase                      float64
precipIntensityMax             float64
uvIndexTime                    float64
temperatureMin                 float64
temperatureMinTime             float64
temperatureMax                 float64
temperatureMaxTime             float64
apparentTemperatureMin         float64
apparentTemperatureMinTime     float64
apparentTemperatureMax         float64
apparentTemperatureMaxTime     float64
dtype: object

In [73]:
df1["price"].fillna(df1['price'].median(), inplace = True)

In [74]:
df1.isnull().sum()

id                             0
timestamp                      0
hour                           0
day                            0
month                          0
datetime                       0
timezone                       0
source                         0
destination                    0
cab_type                       0
product_id                     0
name                           0
price                          0
distance                       0
surge_multiplier               0
latitude                       0
longitude                      0
temperature                    0
apparentTemperature            0
short_summary                  0
long_summary                   0
precipIntensity                0
precipProbability              0
humidity                       0
windSpeed                      0
windGust                       0
windGustTime                   0
visibility                     0
temperatureHigh                0
temperatureHighTime            0
temperatureLow                 0
temperatureLowTime             0
apparentTemperatureHigh        0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureLowTime     0
icon                           0
dewPoint                       0
pressure                       0
windBearing                    0
cloudCover                     0
uvIndex                        0
visibility.1                   0
ozone                          0
sunriseTime                    0
sunsetTime                     0
moonPhase                      0
precipIntensityMax             0
uvIndexTime                    0
temperatureMin                 0
temperatureMinTime             0
temperatureMax                 0
temperatureMaxTime             0
apparentTemperatureMin         0
apparentTemperatureMinTime     0
apparentTemperatureMax         0
apparentTemperatureMaxTime     0
dtype: int64

In [75]:
df1 = df1.dropna(axis=0)

In [76]:
df1.isnull().sum()

id                             0
timestamp                      0
hour                           0
day                            0
month                          0
datetime                       0
timezone                       0
source                         0
destination                    0
cab_type                       0
product_id                     0
name                           0
price                          0
distance                       0
surge_multiplier               0
latitude                       0
longitude                      0
temperature                    0
apparentTemperature            0
short_summary                  0
long_summary                   0
precipIntensity                0
precipProbability              0
humidity                       0
windSpeed                      0
windGust                       0
windGustTime                   0
visibility                     0
temperatureHigh                0
temperatureHighTime            0
temperatureLow                 0
temperatureLowTime             0
apparentTemperatureHigh        0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureLowTime     0
icon                           0
dewPoint                       0
pressure                       0
windBearing                    0
cloudCover                     0
uvIndex                        0
visibility.1                   0
ozone                          0
sunriseTime                    0
sunsetTime                     0
moonPhase                      0
precipIntensityMax             0
uvIndexTime                    0
temperatureMin                 0
temperatureMinTime             0
temperatureMax                 0
temperatureMaxTime             0
apparentTemperatureMin         0
apparentTemperatureMinTime     0
apparentTemperatureMax         0
apparentTemperatureMaxTime     0
dtype: int64

In [77]:
df1['price'].dtype

dtype('int64')

In [78]:
df1.shape

(106772, 57)

In [63]:
df1['price'] = df1['price'].astype(int)

In [79]:
df1['price'].head()

0     5
1    11
2     7
3    26
4     9
Name: price, dtype: int64

In [80]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [81]:
X.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,product_id,name,distance,surge_multiplier,latitude,longitude,temperature,apparentTemperature,short_summary,long_summary,precipIntensity,precipProbability,humidity,windSpeed,windGust,windGustTime,visibility,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,icon,dewPoint,pressure,windBearing,cloudCover,uvIndex,visibility.1,ozone,sunriseTime,sunsetTime,moonPhase,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,27568,1.544953e+09,9,16,12,24897,0,5,7,Lyft,8,7,0.44,1.0,42.2148,-71.033,42.34,37.12,4,9,0.0000,0.0,0.68,8.66,9.17,1545015600,10.000,43.68,1544968800,34.19,1545048000,37.95,1544968800,27.39,1545044400,5,32.70,1021.98,57.0,0.72,0.0,10.000,303.8,1.544962e+09,1.544995e+09,0.30,0.1276,1.544980e+09,39.89,1.545012e+09,43.68,1.544969e+09,33.73,1.545012e+09,38.07,1.544958e+09
1,31535,1.543284e+09,2,27,11,949,0,5,7,Lyft,12,2,0.44,1.0,42.2148,-71.033,43.58,37.35,8,10,0.1299,1.0,0.94,11.98,11.98,1543291200,4.786,47.30,1543251600,42.10,1543298400,43.92,1543251600,36.20,1543291200,6,41.83,1003.97,90.0,1.00,0.0,4.786,291.1,1.543233e+09,1.543267e+09,0.64,0.1300,1.543252e+09,40.49,1.543234e+09,47.30,1.543252e+09,36.20,1.543291e+09,43.92,1.543252e+09
2,63351,1.543367e+09,1,28,11,2514,0,5,7,Lyft,7,5,0.44,1.0,42.2148,-71.033,38.33,32.93,0,2,0.0000,0.0,0.75,7.33,7.33,1543334400,10.000,47.55,1543320000,33.10,1543402800,44.12,1543320000,29.11,1543392000,1,31.10,992.28,240.0,0.03,0.0,10.000,315.7,1.543319e+09,1.543353e+09,0.68,0.1064,1.543338e+09,35.36,1.543378e+09,47.55,1.543320e+09,31.04,1.543378e+09,44.12,1.543320e+09
3,81170,1.543554e+09,4,30,11,6912,0,5,7,Lyft,10,4,0.44,1.0,42.2148,-71.033,34.38,29.63,0,6,0.0000,0.0,0.73,5.28,5.28,1543514400,10.000,45.03,1543510800,28.90,1543579200,38.53,1543510800,26.20,1543575600,1,26.64,1013.73,310.0,0.00,0.0,10.000,291.1,1.543492e+09,1.543526e+09,0.75,0.0000,1.543507e+09,34.67,1.543550e+09,45.03,1.543511e+09,30.30,1.543550e+09,38.53,1.543511e+09
4,93427,1.543463e+09,3,29,11,4368,0,5,7,Lyft,11,6,0.44,1.0,42.2148,-71.033,37.44,30.88,6,4,0.0000,0.0,0.70,9.14,9.14,1543446000,10.000,42.18,1543420800,36.71,1543478400,35.75,1543420800,30.29,1543460400,5,28.61,998.36,303.0,0.44,0.0,10.000,347.7,1.543406e+09,1.543440e+09,0.72,0.0001,1.543421e+09,33.10,1.543403e+09,42.18,1.543421e+09,29.11,1.543392e+09,35.75,1.543421e+09

In [82]:
X = df1.drop('price', axis = 1)
y = df1['price']

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [84]:
X_train.shape

(85417, 56)

In [85]:
X_test.shape

(21355, 56)

In [86]:
y_train.shape

(85417,)

In [87]:
#Creating model
reg = LinearRegression()
#Fitting training data
reg = reg.fit(X_train, y_train)

In [89]:
reg.score(X_train, y_train)

0.5279748412733876

In [90]:
from sklearn.feature_selection import RFE

In [149]:
X.shape

(106772, 56)

In [93]:
rfe = RFE(reg, n_features_to_select=40, step=1)
rfe = rfe.fit(X, y)

In [148]:
len(rfe.support_)

56

In [95]:
X1 =X[X.columns[rfe.support_]]

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size = 0.3, random_state = 10)

In [98]:
X_train.shape

(74740, 40)

In [99]:
reg1 = LinearRegression()
#Fitting training data
reg1 = reg1.fit(X_train, y_train)

In [100]:
reg1.score(X_train, y_train)

0.5283274251046605

In [108]:
rfe = RFE(reg, n_features_to_select=15, step=1)
rfe = rfe.fit(X, y)

In [109]:
rfe.support_

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True, False,  True, False, False, False, False,
        True, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False, False, False,  True, False, False, False,
        True, False])

In [111]:
X2 =X[X.columns[rfe.support_]]

In [113]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size = 0.3, random_state = 10)

In [114]:
X_train.shape

(74740, 15)

In [115]:
reg2 = LinearRegression()
#Fitting training data
reg2 = reg2.fit(X_train, y_train)

In [116]:
reg2.score(X_train, y_train)

0.5280619177205106

In [ ]:
# Since there is no improvement in accuracy we will consider all the feaures.

In [150]:
X.shape

(106772, 56)

In [135]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [136]:
linear = LinearRegression()
linear.fit(X_train, y_train)
linear.score(X_test, y_test)

0.5276841482264273

In [137]:
decision = DecisionTreeRegressor(random_state = 0)  
decision.fit(X_train, y_train) 
decision.score(X_test, y_test)

0.928440953394467

In [138]:
random = RandomForestRegressor(n_estimators = 10, random_state = 0) 
random.fit(X_train, y_train) 
random.score(X_test, y_test)

0.9578113460135927

In [139]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 10, max_depth = 5)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8095831065769962

In [140]:
linear.coef_

array([-9.55550115e-07, -3.65073710e-06,  8.83114505e-03,  8.83333141e-02,
        2.83693532e+00,  7.39971549e-05, -2.87260020e-09,  3.65139063e-02,
        6.96755375e-03,  7.60009268e+00,  6.81485180e-01, -1.58712527e+00,
        2.58365667e+00,  2.02595245e+01,  1.43245148e+00,  2.09198044e-01,
       -3.58669068e-02,  2.78074087e-03, -3.61569829e-03, -7.96037353e-03,
        7.60946408e-01, -1.43256913e-01, -7.54508580e-01,  5.71359457e-02,
       -1.73887030e-02,  1.96974255e-06, -7.51823484e-03, -2.08705827e+00,
        9.66227525e-06,  2.63437811e-02,  1.13520643e-05,  1.15733779e+00,
       -2.04172586e-05, -1.57299255e-02, -2.27784678e-05,  2.56186572e-04,
        3.88316789e-02,  6.40966713e-03,  2.44420785e-04, -9.79669645e-02,
       -5.70730370e-02, -7.51823486e-03,  1.78338463e-03, -2.69805057e-03,
        2.70954699e-03,  1.70173959e-01,  2.95723710e+00, -4.27882069e-05,
       -4.54249597e-02,  1.62089327e-05,  1.97139227e+00,  9.65891301e-06,
        2.09585398e-02, -1.30627507e-06, -1.09470856e+00,  3.04212072e-05])

In [141]:
prediction = linear.predict(X_test)
prediction

array([ 7.00621165, 14.93351138, 18.35393761, ...,  8.68034621,
        7.06043111, 24.42571414])

In [142]:
from sklearn import metrics
print('MAE :'," ", metrics.mean_absolute_error(y_test,prediction))
print('MSE :'," ", metrics.mean_squared_error(y_test,prediction))
print('RMAE :'," ", np.sqrt(metrics.mean_squared_error(y_test,prediction)))

MAE :   4.832164000944597
MSE :   38.25770185719056
RMAE :   6.18528106533491

In [143]:
predictions = random.predict(X_test)

In [144]:
from sklearn import metrics
print('MAE :'," ", metrics.mean_absolute_error(y_test,predictions))
print('MSE :'," ", metrics.mean_squared_error(y_test,predictions))
print('RMAE :'," ", np.sqrt(metrics.mean_squared_error(y_test,predictions)))

MAE :   1.1382627019433387
MSE :   3.41729150081948
RMAE :   1.8485917615361918

In [151]:
#Defining a function to predict for different models
def pricePrediction(name,source,surge_multiplier,icon):    
    loc_index = np.where(X.columns==name)[0]

    x = np.zeros(len(X.columns))
    x[0] = source
    x[1] = surge_multiplier
    x[2] = icon
    if loc_index >= 0:
        x[loc_index] = 1

    return random.predict([x])[0]

In [146]:
pre= random.predict(X_test)

In [152]:
pricePrediction(1 , 3, 2, 0)

20.2